<div class="landing grid-bg">
  <app-hero class="z-content"></app-hero>
  <app-stats-bar class="z-content"></app-stats-bar>
  <section class="landing__split-section z-content">
    <app-threats-section></app-threats-section>
  </section>
  <section class="landing__timeline-defense z-content">
    <div class="landing__split">
      <app-timeline-section></app-timeline-section>
      <app-defense-section></app-defense-section>
    </div>
  </section>
  <app-cta-section class="z-content"></app-cta-section>
</div>
