.cls-badge {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 9px;
  letter-spacing: 1.5px;
  padding: 4px 10px;

  &--nation  { color: var(--color-red);   border: 1px solid rgba(255,74,106,0.4);  background: rgba(255,74,106,0.06);  }
  &--iot     { color: var(--color-amber); border: 1px solid rgba(255,184,64,0.4); background: rgba(255,184,64,0.06); }
  &--ransom  { color: var(--color-red);   border: 1px solid rgba(255,74,106,0.4);  background: rgba(255,74,106,0.06);  }
  &--spy     { color: var(--color-blue);  border: 1px solid rgba(0,128,255,0.4);  background: rgba(0,128,255,0.06);  }
  &--apt     { color: #9B70FF;            border: 1px solid rgba(155,112,255,0.4); background: rgba(155,112,255,0.06);}
  &--zero    { color: var(--color-green); border: 1px solid rgba(0,255,180,0.4);  background: rgba(0,255,180,0.06);  }
  &--supply  { color: var(--color-blue);  border: 1px solid rgba(0,128,255,0.4);  background: rgba(0,128,255,0.06);  }
  &--worm    { color: var(--color-amber); border: 1px solid rgba(255,184,64,0.4); background: rgba(255,184,64,0.06); }
  &--purple  { color: #9B70FF;            border: 1px solid rgba(155,112,255,0.4); background: rgba(155,112,255,0.06);}
}