<div class="pillars-section">
  <div class="pillars-section__pillar" *ngFor="let pillar of pillars" [ngClass]="'pillars-section__pillar--' + pillar.variant">
    <div class="pillars-section__num">{{ pillar.num }}</div>
    <div class="pillars-section__icon">
      <i [class]="'ti ' + pillar.icon" aria-hidden="true"></i>
    </div>
    <h3 class="pillars-section__title">{{ pillar.title }}</h3>
    <p class="pillars-section__desc">{{ pillar.description }}</p>
    <div class="pillars-section__bar"></div>
  </div>
</div>
